body{
    background-color: #f5f4f4;
}
.card{
    border-radius: 0;
    width: 90%;
    margin: auto;
    padding: 12px;
}
.container{
    padding-top: 90px;
    padding-bottom: 90px;
}
@media screen and (max-width: 700px) {
    .card{
        width: 100%;
        padding: 5px;
    }
}