<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/taylor-sans" type="text/css"/>                       
  <link href="http://fonts.cdnfonts.com/css/dekobrett" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="{{url_for('static',filename='dashboardcss/styles.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='dashboardcss/index.css')}}">
</head>
<body>
  <nav class="navbar">
    <a href="#" class="navbar-brand"><h2 style="font-family: 'DekoBrett', sans-serif;">SOLEMALL</h2></a>
    <div class="collapsible">
      <ul class="navbar-items">
        <li class="nav-item">
          <a href="#"><strong>Balance:</strong> ${{profit[0]}}👑</a>
        </li>
      </ul>
      <button class="btn-bars"><i class="fas fa-bars"></i></button>
    </div>
  </nav>
  <div class="container">
    <div class="sidebar" id="sidebar">
      <div class="sidebar-header">
        <div>
          <h2 style="font-family: 'DekoBrett', sans-serif;">SOLEMALL</h2>
          <p style="font-style: italic;">Shoes that fit...</p>
        </div>
      </div>
      <div class="underline"></div>
      <div class="sidebar-content">
        <ul class="sidebar-items">
          <li class="sidebar-item active"><a href="/home"><i class="fas fa-chart-line"></i>&nbsp; Overview</a></li>
          <li class="sidebar-item"><a href="/addproduct"><i class="fas fa-tshirt"></i>&nbsp; Add product</a></li>
          <li class="sidebar-item"><a href="/manageproduct"><i class="fas fa-dice-d20"></i>&nbsp; Manage products</a></li>
          <li class="sidebar-item"><a href="/manageusers"><i class="fas fa-user"></i>&nbsp; Manage users</a></li>
          <li class="sidebar-item"><a href="/sendemail"><i class="fas fa-paper-plane"></i>&nbsp; Send emails</a></li>
          <li class="sidebar-item"><a href="/adminlogout"><i class="fas fa-power-off"></i>&nbsp; Logout</a></li>
        </ul>
      </div>
    </div>
    <div class="main-content" id="main-content">
      <h2><i class="fas fa-chart-line"></i> Overview</h2>
      <div class="main-body-content">
        <div class="row justify-content-center">
            <div class="stat-card">
                <div class="stat-card-body">
                  <div class="d-flex align-items-center">
                    <div class="stat-card-icon"><img src="https://img.icons8.com/external-flatart-icons-lineal-color-flatarticons/60/000000/external-chart-data-science-and-cyber-security-flatart-icons-lineal-color-flatarticons.png"/></div>
                    <div class="caption-details">
                      <h2>{{sales[0]}}</h2>
                      <p style="color: #696969;">Sales made</p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="stat-card">
              <div class="stat-card-body">
                <div class="d-flex align-items-center">
                  <div class="stat-card-icon"><img src="https://img.icons8.com/color/60/000000/group.png"/></div>
                  <div class="caption-details">
                    <h2>{{users[0]}}</h2>
                    <p style="color: #696969;">Registered users</p>
                  </div>
                </div>
              </div>
          </div>
            <div class="stat-card" style="margin-right: 0;">
              <div class="stat-card-body">
                <div class="d-flex align-items-center">
                  <div class="stat-card-icon"><img src="https://img.icons8.com/external-vitaliy-gorbachev-flat-vitaly-gorbachev/60/000000/external-shopping-cart-cyber-monday-vitaliy-gorbachev-flat-vitaly-gorbachev.png"/></div>
                  <div class="caption-details">
                    <h2>{{products[0]}}</h2>
                    <p style="color: #696969;">Products in stock</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div>
          <h3 style="margin-top: 24px;margin-left: 20px;">All Orders</h3>
          <div class="table-orders">
            <table id="example" class="stripe row-border" style="width:100%">
              <thead>
                <tr>
                  <th>Order ID</th>
                  <th>User ID</th>
                  <th>Total Price</th>
                  <th>Status</th>
                  <th>Date created</th>
                </tr>
              </thead>
              <tbody>
                {% if size >= 1 %}
                {% for item in orders %}
                <tr>
                  <td class="table-item">SOLEMALL-{{item[0]}}</td>
                  <td class="table-item">SOLEUSER-{{item[4]}}</td>
                  <td class="table-item">$ {{item[1]}}</td>
                  <td class="table-item" style="color: #06af3f;">{{item[2]}} <i class="fas fa-check-circle"></i></td>
                  <td class="table-item">{{item[3]}}</td>
                </tr>
                {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <footer>
        <div style="text-align: center;">
          <p>Made by 👑 codecrown with ❤️</p>
        <p>&copy; 2021</p>
        </div>
      </footer>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
  <script src="{{url_for('static',filename='dashboardjs/script.js')}}"></script>
  <script>
    $(document).ready(function() {
    $('#example').DataTable();
  });
  </script>
</body>
</html>